<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>User List</title>
</head>
<body>
  <h1>All Users</h1>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td>
          <a href="/edit/<%= user._id %>">Edit</a>
          <form action="/delete/<%= user._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>
  <a href="/register">Add New User</a>
</body>
</html>
